.login-form {
    position: absolute;
    z-index: 2;
    padding: 40px;
    width: 600px;
    border-radius: 25px;
    background-color: aquamarine;
    left: 0;
    margin: auto;
    right: 0;
    top: 10%;
    margin-top: 10px;
    text-align: center; /* Center text inside the form */
    display: flex;
    flex-direction: column;
}


input {
    width: 450px;
    height: 50px;
    font-family:'Courier New', Courier, monospace;
    margin-top: 20px;
    border: solid black 1px;
}

.black-line {
    border: 2px solid black;
    border-radius: 50%;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form elements horizontally */
}


.blue-bird, .green-bird, .pink-bird, .yellow-bird {
    position: absolute;
    max-width: 40%; /* Ensures they fit within the screen */
    animation: hover-wave 3s ease-in-out infinite;
  }
  
  .blue-bird {
    z-index: 1;
    left: 1%;  /* Adjust for overlap */
    transform: translateY(-10px); 
  }
  
  .green-bird {
    z-index: 2;
    left: 20%;  /* Adjust for overlap */
    transform: translateY(-20px); /* Lift more */
  }
  
  .pink-bird {
    z-index: 3;
    left: 40%;  
    transform: translateY(-15px); 
  }
  
  .yellow-bird {
    z-index: 4;
    left: 60%;  
  }

  @keyframes hover-wave {
    0%, 100% {
      transform: translateY(0); /* Start and end at the original position */
    }
    50% {
      transform: translateY(-20px); /* set hover height */
    }
  }

  .bird-images-container {
    position: relative;
    width: 100%; /* Ensures it spans the width of the parent */
    height: 150px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 400px; /* Add space above the images */
  }