.surfing-game {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.start-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: lightgray;
}

.progress {
  height: 100%;
  background-color: green;
  transition: width 0.3s ease-in-out;
}

.surfboard-icon {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 25px);
  width: 50px;
}

.game-area {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.obstacle, .coin {
  position: absolute;
  bottom: 0; /* Start from the top of the screen */
}

.track-0 {
  left: 10%; /* Left track */
}

.track-1 {
  left: 50%; /* Center track */
}

.track-2 {
  left: 80%; /* Right track */
}

.trick-popup {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.waveCurl {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-color: black;
  object-fit: cover;
}

.surfStart {
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: black;
  object-fit: cover;
}

.zpop {
  z-index: 2;
  background-color:cornsilk;
  padding: 30px;
  border-radius: 1000px;
}

.zpop2 {
  z-index: 2;
}

.surf-score-display {
  padding: 30px;
  background-color: cornflowerblue;
  color: white;
  -webkit-text-stroke: 1px hotpink;
  font-size: 20px;
  border-radius: 25px;
  border: coral 4px solid;
}

.trick-text {
   background-color: aquamarine;
   border-radius: 25px;
}

.gogogo {
    font-size: 7em;
    -webkit-text-stroke: 2px rgb(243, 72, 158);
}

.shred-message-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* absolutely ensure it's above everything else */
  background-color: coral;
  color: antiquewhite;
  font-size: 4em;
  -webkit-text-stroke: 2px rgb(53, 138, 122);
  border: 8px solid rgb(50, 95, 121);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
